<?xml version="1.0" encoding="utf-8"?>
<phpunit
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
		bootstrap="tests/bootstrap.php"
		colors="true"
		defaultTestSuite="unit"
>
	<testsuites>
		<testsuite name="unit">
			<directory suffix=".php">./tests/Unit</directory>
		</testsuite>
	</testsuites>
	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src</directory>
			<directory suffix=".php">./templates</directory>
		</include>
	</coverage>
</phpunit>
