.order-source-attribution-metabox h4 {
    margin-bottom: .1em;
}

.woocommerce-order-source-attribution-details-container {
    display: none;
}

a.woocommerce-order-source-attribution-details-toggle {
    display: block;
    float: right
}

.woocommerce-order-source-attribution-details-toggle .toggle-indicator {
    font-family: dashicons;
    font-size: 1.2em;
    line-height: 1;
    vertical-align: middle;
}

.woocommerce-order-source-attribution-details-toggle[aria-expanded="true"] .toggle-indicator::before {
    content: "\f140";
}

.woocommerce-order-source-attribution-details-toggle[aria-expanded="false"] .toggle-indicator::before {
    content: "\f142";
}
